.container {
    min-width: 100%;
    min-height: 100%;
    padding: 32px 32px;
    color: var(--text-secondary);
    font-size: 14px;
}

.alert {
    margin-bottom: 35px;

    .list {
        margin-bottom: 0;
    }

    .listItem {
        margin-top: 5px
    }
}

.section {
    margin-bottom: 35px;
}

.section:last-child {
    margin-bottom: 0;
}